.post-abstract-large:first-of-type {
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
}

.post-abstract-large {
    grid-column: 2 /span 2;
    grid-row: 4 /span 2;
}

.post-abstract-small {
    border: solid whitesmoke 1px;
    border-radius: 5px;
}

.post-abstract-large, .post-abstract-small {
    cursor: pointer;
    padding-left: 1rem;
}

.post-abstract-large h1 {
    font-size: 4rem;
}

.post-abstract-small h1 {
    font-size: 2.5rem;
}

.post-abstract-large code, .post-abstract-small code {
    color: darkslategray;
}