.app {
    text-align: center;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
    line-height: 3.4rem;
}

.content h1 {
    font-size: 2em;
}

/* Media queries */
@media screen and (max-width: 1007px) {
    .content {
        width: 65rem;
        font-size: 1.8em;
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 45rem;
    }
}